/*Style.css */
*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 800px;
    width: 800px;
    background-color:rgb(184, 84, 2);
    margin: 65px auto;
    border: 10px solid rgb(12, 0, 0);
}
 .half-circle {
    width: 600px;
    height: 300px; /* as the half of the width */
    border-top-left-radius: 200px;  /* 100px of height + 10px of border */
    border-top-right-radius: 200px; /* 100px of height + 10px of border */
    border: 40px solid rgb(248, 243, 243);
    transform: rotate(90deg);
    margin-top: 210px;
    margin-left: 75px;
}




  
 