/*Style.css */
.container{
    height: 600px;
    width: 600px;
    background-color:black;
    margin: 65px auto;
    border: 10px solid rgb(12, 0, 0);
}
.white{
    float: left;
    background-color: white;
    display: table-cell;
    vertical-align:middle;
    font-size:50px;
    text-align:center;
    height: 75px;
    width: 75px;
 }
 .black{
    float: left;
    background-color: rgb(53, 51, 51);
    display: table-cell;
    vertical-align:middle;
    font-size:50px;
    text-align:center;
    height: 75px;
    width: 75px;
 }




  
 